<h1><%= link_to @campaign.title, @campaign %></h1>
<table>
<% @signatories.each do |signatory| %>
  <tr>
    <td><%= signatory.name %></td>
    <td><%= signatory.email %></td>
  </tr>
<% end %>
</table>